@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography System */
h1 {
  @apply text-4xl font-semibold tracking-tight;
}

h2 {
  @apply text-2xl font-semibold tracking-tight mt-12;
}

p {
  @apply text-base text-yellow-600 leading-relaxed mt-4;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.leftsec{
  background-color: aliceblue;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leftsec>div{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.rightsec{
  height: 100%;
  width: 40%;
  background-color:rgb(180, 113, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

