.star-border-container {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
 transition: scale 0.3s ease-in-out;
}
.star-border-container:hover{
  scale: 1.2;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 40%;
  opacity: 0.7;
  bottom: -11px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -10px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  background: linear-gradient(to bottom, #060010, #111);
  border: 1px solid #33ed4c;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px 16px;
  border-radius: 20px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
